
-- Corrige o nome da coluna numero_de_parcelas
ALTER TABLE faturamentos 
RENAME COLUMN numero_de_p TO numero_de_parcelas;

-- Adiciona coluna status se não existir
ALTER TABLE faturamentos 
ADD COLUMN IF NOT EXISTS status text DEFAULT 'Ativo';

-- Define os valores possíveis para status
ALTER TABLE faturamentos 
ADD CONSTRAINT faturamentos_status_check 
CHECK (status IN ('Ativo', 'Inativo', 'Cancelado'));
